name: Auto Scraper Bot

on:
  schedule:
    # Chạy mỗi 30 phút
    - cron: "*/30 * * * *"
  workflow_dispatch:  # cho phép chạy thủ công từ GitHub

jobs:
  scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 lxml

      - name: Run scraper
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          python scraper_multi_thread.py
